<%- include("partials/header.ejs", { pageTitle: "Careers" }); %>

<main class="comfortaa page-content">
    <div class="text-light text-center">
        <div class="img-container">
            <img class="img-background" src="/images/subaBackgroundNew.jpg">
            <div class="img-text p-5 d-flex justify-content-start align-items-end">
                <div class="container px-5">
                    <h1 class="display-3 fw-bold text-start">Careers</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="text-light text-start">
        <div class="container p-5">
            <h1 class="display-5 fw-bold">Give yourself all the possibilities to be successful in your professional life</h1>
            <p class="lead my-4">
                Join our collaboration-based culture that is caring and open to new ideas and change.
            </p>
        </div>
    </div>

    <div class="text-light text-center blue-bg-2">
        <div class="container p-5">
            <h1 class="display-5 fw-bold my-5">Start your career with us.</h1>
            <a class="btn btn-lg btn-light text-blue">Find Open Jobs</a>
        </div>
    </div>
</main>

<%- include("partials/footer.ejs"); %>
