<%- include("partials/header.ejs", { pageTitle: "Submission Failed" }); %>

<main class="comfortaa page-content">
    <div class="text-light">
        <div class="img-container">
            <img class="img-background" src="/images/subaBackgroundNew.jpg">
            <div class="img-text p-5 d-flex justify-content-start align-items-end">
                <div class="container-fluid px-5">
                    <h1 class="display-3 fw-bold text-start">Submission Failed!</h1>
                    <p class="lead mt-4 fs-5">
                        We cannot send the email right now. Please try again. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("partials/footer.ejs"); %>
