<%- include("partials/header.ejs", { pageTitle: "Contacts Submitted" }); %>

<main class="comfortaa page-content">
    <div class="text-light">
        <div class="img-container">
            <img class="img-background" src="/images/subaBackgroundNew.jpg">
            <div class="img-text p-5 d-flex justify-content-start align-items-end">
                <div class="container-fluid px-5">
                    <h1 class="display-3 fw-bold text-start">Form Submitted</h1>
                    <p class="lead mt-4 fs-5">
                        We will get in touch with you soon! 
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("partials/footer.ejs"); %>