<%- include("partials/header.ejs", { pageTitle: "Our Privacy Policy" }); %>
<main class="comfortaa page-content">
    <div class="text-light text-center">
        <div class="img-container">
            <img class="img-background" src="/images/suba-building.png">
            <div class="img-text p-5 d-flex justify-content-center align-items-end dark-transparent-bg">
                <div class="container p-5">
                    <h1 class="display-3 fw-bold text-center">
                        Our Privacy Policy
                    </h1>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs"); %>