<%- include("partials/header.ejs", { pageTitle: "Our Privacy Policy" }); %>
<main class="comfortaa page-content">
    <div class="text-light text-start blue-bg-2" data-bs-theme="light">
        <div class="container-fluid d-flex justify-content-center">
            <object class="pdf-viewer" type="application/pdf" data="/documents/subaPrivacyPolicy2025-v2.pdf?#zoom=110&navpanes=0">
                <p class="fw-lighter fs-5">
                    Unable to display the contents of this file. Please download the document.
                </p>
            </object>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs"); %>
